/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application {fontSize:20pt} 

/* picker is for instance datepicker, timepicker, amountpicker */
.textColorInPickerOnDarkBackground {
	color:white
}

/* typically for text that should be smaller than normal text */
.fontSizeForSubElements {
	fontSize:16pt
}

s|BorderContainer {
	/* used here for example in timepicker, datepicker, insulinamountbicker*/
	backgroundColor:#444444;
	borderColor:#cccccc; 
	borderWeight:4;
	cornerRadius:10
}