/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application {fontSize:20pt} 

/* picker is for instance datepicker, timepicker, amountpicker */
.textColorInPickerOnDarkBackground {
	color:white
}

.trackingItemHeights {
	offsetToPutTextInTheMiddle:15;
	bloodglucoseevent:40pt;
}

/* typically for text that should be smaller than normal text */
.fontSizeForSubElements {
	fontSize:16pt;
	paddingTop:4pt;	/* not yet used */
    paddingBottom:4pt; /* not yet used */
	paddingLeft:4pt;
	paddingRight:4pt;
}

.backGroundColorInLists {/* colors used in background of list elements */
	darkBlueLight:#CCCCFE; /* used in daylineitemrenderer , there's always a light and a dark side for each color , used in gradient fill*/ 
	darkBlueDark:#3333FF; /* used in daylineitemrenderer , there's always a light and a dark side for each color , used in gradient fill*/
 	lightBlueLight:#0CD9F8; /* used in daylineitemrenderer , there's always a light and a dark side for each color , used in gradient fill*/
	lightBlueDark:#5C939B; /* used in daylineitemrenderer , there's always a light and a dark side for each color , used in gradient fill*/
	mealEventBackGroundLight:#FFFFFF; /*back ground color for mealevent in trackingview*/
	mealEventBackGroundDark:#BCD7C6; /*back ground color for mealevent in trackingview*/	
	bloodGlucoseEventBackGroundLight:#FFFFFF; /*back ground color for bloodglucose in trackingview*/
	bloodGlucoseEventBackGroundDark:#FFDDED; /*back ground color for boodglucose in trackingview*/	
	medicinEventBackGroundDark:#FFA663;
	medicinEventBackGroundLight:#FFFFFF;
	exerciseEventBackGroundDark:#DAB7FF;
	exerciseEventBackGroundLight:#FFFFFF;
}

.removePaddingBottomForStyleableTextField {
	/* StyleableTextFIeld seems to have a large paddingBottom which I was not able to remove so what i did : */
	/* when a StyleableTextField is positioned, then the next field will be uplifted with a predefined number of pixels, so the next field actually overlaps the previous field */
	/* the gap here defines the amount of pixels that a new field following a styleabletextfield is uplifed */
	gap:5;
}

.addFoodItemGroup {
	/* some properties for AddFoodItemGroup */
	
	/* this is about the digit buttons */
	buttonMinimumWidth:40;/* the minimum width of such a button */
	buttonMaximumWidth:80;/* the maximum widht of such a button */
	buttonMinimumHeight:20;/* the minimum height of such a button */
	buttonMaximumHeight:80;/* the maximum height of such a button */
	buttonGap:2;/* gap between buttons, between last row of buttons and bottom, between first row of buttons and last field above*/
	textGap:5;/* gap to be used between left side and any textfield, between textfield and right side, and between textfields */
}

s|BorderContainer {
	/* used here for example in timepicker, datepicker, insulinamountbicker*/
	backgroundColor:#444444;
	borderColor:#cccccc; 
	borderWeight:4;
	cornerRadius:10
}

s|TabbedViewNavigator #tabBar
{/* tabbar will used a customized tabbartabskin, to have the background with gradient color */
	/*chromeColor:#8EADD8  ; /* gives the tabnavigator buttons our special color*/
	skinClass: ClassReference("skins.TabbedViewNavigatorTabBarSkin");
	color: #000000;
}

.tabbartabbuttoncolor {/* a tabbar in a viewnavigator has tabs, this tab has a backgroundcolor when selected, this will be the colors used for a gradient box from bottom to top */
	colorbottom:#5C89C7;/* gradient will be applied from bottom to top, this is the bottom color*/
	colortop:#000000;/* gradient will be applied from bottom to top, this is the top color*/
}

.listAlternatingColors {/* a tabbar in a viewnavigator has tabs, this tab has a backgroundcolor when selected, this will be the colors used for a gradient box from bottom to top */
	color1:#D0DDEF;/* gradient will be applied from bottom to top, this is the bottom color*/
	color2:#EEF3F9;/* gradient will be applied from bottom to top, this is the top color*/
}

s|ActionBar
{
	chromeColor: #5C89C7; /* gives our action bar our special color*/ 
	defaultButtonAppearance: beveled; /* ios style action bar buttons*/ 
	
}

s|View {
	backgroundAlpha: 0;
}

s|List {
	contentBackgroundAlpha: 0;
}
